/* google font  */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(0, 0%, 94%);
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
main{
    position: absolute;
    top: 20vh; bottom:auto; 
    right: auto; left: 55vh;
    background-color: hsl(0, 0%, 100%); 
    height: 65vh;
    width: 100vh;
    border-bottom-right-radius:  150px;
    border-bottom-left-radius:  30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.displaydate{
    display: flex;
    margin: 40px auto;
    margin-left: -60px;
    justify-content: space-evenly;
    font-size: large;
    font-weight: bolder;
}
form{
    display: flex;
    margin-left: -50px;
    margin-top: -35px;
    justify-content: space-evenly;
}
.input{
    height: 40px;
    width: 90px;
    font-size: 20px;
    font-weight: bolder;
    justify-content: left;
    padding: 10px;
    border-radius: 5px;
    border-radius: hsl(0, 0%, 94%);
}
.line{
    background-color:  hsl(0, 0%, 94%);
    margin-top: 55px;
    margin-left: 80px;
    height: 2px;
    width: 36vw;
}
button{
    position: absolute;
    right: 60px; left: auto;
    top: 130px;
    background-color: black;
    border-color: transparent;
    border-radius: 100%;
    height: 70px;
    width: 70px;
}
.displaydiv{
    margin: auto 80px;
    font-size: 45px;
    font-style: italic;
}
span {
    color: hsl(259, 100%, 65%);
}

button:hover{
    background-color: hsl(259, 100%, 65%);
}
.errordate{
  position: absolute;
  top: 35vh; left:29vw;

}
.errormonth{
  position: absolute;
  top: 35vh; left:43vw;

}
.erroryear {
  position: absolute;
  top: 35vh; left:57vw;
}
h3{
  border-radius: 2px solid black;
}
/* Resposive website for moblie  */
@media screen and (max-width:376px) {
    body{
        height: 170vh;
    }
  main{
    position: absolute;
    right: auto; left: 10vw;
    top: 50px;
    height: 130vh;
    width: 80vh;
  }

  .displaydate{
    margin-left: -15px;
  }
  form{
    margin-left: -8px;
  }
  .input{
    width: 80px;
  }
  button{
    margin:20px;
    position: absolute;
    right: 100px; left: auto;
    top: 110px;
    height: 50px;
    width: 50px;
  }
  .line{
    background-color: hsl(0, 2%, 61%);
    width: 75vw;
    margin-top:45px;
    margin-left: 0px;
  }
  .displaydiv{
    margin: 30px 10px;
    font-size: 33px;
  }
  .errordate{
    position: absolute;
    top: 46vh; left:11vw;
    font-size: 9px;
  }
  .errormonth{
    position: absolute;
    top: 46vh; left:35vw;
    font-size: 9px;
  
  }
  .erroryear {
    position: absolute;
    top: 46vh; left:61vw;
    font-size: 9px;
  }
  h3{
    border-radius: 2px solid black;
  }
}